In [57]:
import pandas as pd
path_data = '../../../assets/data/'
import matplotlib
matplotlib.use('Agg')
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import numpy as np

nhl = pd.read_csv(path_data + 'nhl_salaries.csv')
nhl = nhl.drop(columns=['Rank'])

# Classifying by One Variable

Data scientists often need to classify individuals into groups according to shared features, and then identify some characteristics of the groups. For example, in the top movies dataset, it's common to ask:

**What was the total gross in each year?** 

This type of question involves classifying individuals into categories that are not numerical. To classify individuals into categories we use **grouping**.

## Counting the Number in Each Category
The `groupby()` method with a single argument counts the number of rows for each category in a column. The result contains one row per unique value in the grouped column.

Here is a small dataframe of data on ice cream cones. The `groupby()` method can be used to list the distinct flavors and provide the counts of each flavor.

In [58]:
cones = pd.DataFrame(
    {'Flavor': ['strawberry', 'chocolate', 'chocolate', 'strawberry', 'chocolate'],
    'Price': [3.55, 4.75, 6.55, 5.25, 5.25]}
)
cones

       Flavor  Price
0  strawberry   3.55
1   chocolate   4.75
2   chocolate   6.55
3  strawberry   5.25
4   chocolate   5.25

In [59]:
cones.groupby('Flavor')

`.groupby()` returns a strange-looking `DataFrameGroupBy` object. It has split the data into separate groups. You can see the groups by applying the display function to this `gropupby` object. (If you are not familiar with `apply()` don't worry we will cover it in detail later in this chapter.)

In [60]:
cones.groupby('Flavor').apply(display)

      Flavor  Price
1  chocolate   4.75
2  chocolate   6.55
4  chocolate   5.25

       Flavor  Price
0  strawberry   3.55
3  strawberry   5.25

Empty DataFrame
Columns: []
Index: []

You may also want to view different properties of the `groupby` object. Here is how you can do it:

In [61]:
cones.groupby('Flavor').describe()

           Price
           count      mean       std   min    25%   50%    75%   max
Flavor
chocolate    3.0  5.516667  0.929157  4.75  5.000  5.25  5.900  6.55
strawberry   2.0  4.400000  1.202082  3.55  3.975  4.40  4.825  5.25

Though the `groupby()` method grouped the dataframe, it won’t do anything on your dataframe unless explicitly told to do so. So we need a function for aggregation. `pandas` provides a range of aggregate functions including `sum()`, `mean()`, `count()`, `max()`, and `min()`, necessary to perform effective data analysis. We can also call `.agg()` on this object with an aggregation function in order to apply your own defined aggregation. We will limit ourselves to the built-in aggregations only.

Let's first count the number of rows in each category:

In [62]:
cones.groupby('Flavor').count()

            Price
Flavor
chocolate       3
strawberry      2

Notice that this can all be worked out from just the `Flavor` column. The `Price` column has not been used.

But what if we wanted the total price of the cones of each different flavor? We can call another aggregate function `sum()` to get the information. Note that the column used for grouping becomes the index column in the grouped table. If you don't want to use that as index you can simply assign false to `as_index`(an optional argument)

In [63]:
cones.groupby('Flavor').sum()

            Price
Flavor
chocolate   16.55
strawberry   8.80

**Note:** Choosing the appropriate aggregate function crucial for data analysis, which often depends on the question and the datatype of the column.

## Example: NHL Salaries

The dataframe `nhl` contains data on the 2023-2024 players in the National Hockey League. We will answer some datascience questions about this dataset using grouping.

In [69]:
nhl

                   Name Team Position    Salary
0      Nathan MacKinnon  COL        C  12600000
1        Connor McDavid  EDM        C  12500000
2        Artemi Panarin  NYR       LW  11642857
3       Auston Matthews  TOR        C  11640250
4         Erik Karlsson  PIT        D  11500000
..                  ...  ...      ...       ...
796       Stefan Noesen  CAR       RW    762500
797  Vincent Desharnais  EDM        D    762500
798      Boris Katchouk  OTT       LW    758333
799      Taylor Raddysh  CHI       RW    758333
800       Ville Heinola  WPG        D    224000

[801 rows x 4 columns]

**1.** How much money did each team pay for its players' salaries?

The only columns involved are `Team` and `Salary`. We have to group the rows by `Team` and then `sum()` the salaries of the groups.

In [65]:
teams_and_money = nhl.loc[:,['Team', 'Salary']]
teams_and_money.groupby('Team').sum()

         Salary
Team
ANA    68864167
ARI    65684872
BOS    85920000
BUF    71523570
CAR    95409417
CBJ    75754166
CGY    72827500
CHI    58468333
COL    88550000
DAL    87196667
DET    78073333
EDM    84050000
FLA    85363334
LAK    82345834
MIN    70981666
MTL    77535832
NJD    77795000
NSH    74448912
NYI    85792458
NYR    91509023
OTT    76593213
PHI    76847500
PIT    81750175
SEA    76145833
SJS    64067500
STL    83970357
TBL    98486665
TOR   108631449
VAN    84808750
VGK   106427483
WAS    76820834
WPG    85741856

**2.** How many NHL players were there in each of the five positions?

We just need the `Name` and `Position` columns to count the number of players in each position. Then we have to classify by `Position`, and count.

In [66]:
nhl[['Name','Position']].groupby('Position').count()

          Name
Position
C          240
D          260
G           73
LW         130
RW          98

**3.** What was the average salary of the players at each of the five positions?

This time, we have to group by `Position` and take the mean of the salaries. For clarity, we will work with a table of just the positions and the salaries.

In [67]:
positions_and_money = nhl[['Position', 'Salary']]
positions_and_money.groupby('Position').mean()

                Salary
Position
C         3.419478e+06
D         3.199451e+06
G         3.018196e+06
LW        3.298865e+06
RW        3.027276e+06

Center was the most highly paid position, at an average of over 3 million dollars.

If we had not selected the two columns as our first step, `group` would attempt to "average" the categorical columns in `nhl` and will generate an error. (It is impossible to average two strings like "Nathan MacKinnon" and "Connor McDavid".)

In [70]:
nhl.groupby('Position').mean()

TypeError: agg function failed [how->mean,dtype->object]